.package{
    border-radius: 5px;
    border: 2px solid #168eea;
    position: relative;
    overflow: hidden;
}

.package::after{
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    background-repeat: no-repeat;
    background-size: cover;
    width: 200px;
    height: 200px;
    transform: rotate(45deg);
    z-index: 0;
}

.image{
    border-radius: 5px 5px 0 0;
}

.package img{
    border-radius: 5px 5px 0 0;
    width: 100%;
}

.content{
    padding: 20px;
}

.skills{
    flex-wrap: wrap;
    z-index: 1;
}

.paper{
    padding: 5px 10px;
    border-radius: 5px;
}


@media (max-width:992px) {
    .package{
        border-radius: 4px;
    }

    .package::after{
        width: 150px;
        height: 150px;
    }
    
    .image{
        border-radius: 4px 4px 0 0;
    }
    
    .package img{
        border-radius: 4px 4px 0 0;
    }
    
    .content{
        padding: 15px;
    }
    
    .paper{
        padding: 4px 8px;
        border-radius: 4px;
    }
}

@media (max-width:768px) {
    .package{
        border-radius: 3px;
    }
    
    .package::after{
        width: 100px;
        height: 100px;
    }
    
    .image{
        border-radius: 3px 3px 0 0;
    }
    
    .package img{
        border-radius: 3px 3px 0 0;
    }
    
    .content{
        padding: 10px;
    }
    
    .paper{
        padding: 3px 6px;
        border-radius: 3px;
    }
}