@import "tailwindcss";

* {
  box-sizing: border-box;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #4783c7;
  --secondary: #f62f2f;
  --primary_border: #fff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-primary_border: var(--primary_border);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000;
    --foreground: #fff;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Fira Code", monospace;
  /* width: 100vw; */
  max-width: 100vw;
  min-height: 100vh;
}

.title_contain {
  padding: 20px 200px
}

header.contain {
  padding: 0px 200px !important;
  height: 100px;
}

section.hero {
  height: calc(100vh - 100px);
}

section.contain,
footer.contain {
  padding: 60px 200px !important;
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 28px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 22px;
}

h5 {
  font-size: 20px;
}

h6 {
  font-size: 18px;
  font-weight: 500;
}

p {
  font-size: 16px;
  font-weight: 400;
}

button {
  font-size: 16px;
}

input,
textarea {
  font-size: 16px;
}

nav ul li {
  font-size: 18px;
  font-weight: 500;
}