.icon_light{
    color: var(--black) !important;
}

.icon_dark{
    color: var(--main) !important;
}

.text_light{
    color: var(--white) !important;
}

.text_dark{
    color: var(--black) !important;
}
