.certs{
    grid-template-columns: repeat(2,1fr);
}

.certs > div{
    border: 4px solid var(--main-alt);
}

.certs div img{
    width: 100%;
}

@media (max-width:768px) {
    .certs{
        grid-template-columns: repeat(1,1fr);
    }
}