.logo{
    width: 200px;
    height: 200px;
    border-radius:50%;
}

.logo img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

@media (max-width:992px) {
    .logo{
        width: 150px;
        height: 150px;
    }
    
    .logo img{
        width: 150px;
        height: 150px;
    }
    
}

@media (max-width:768px) {
    .logo{
        width: 100px;
        height: 100px;
    }
    
    .logo img{
        width: 100px;
        height: 100px;
    }
    
}