
.btn {
    background-color: var(--white) !important;
    border: 2px solid var(--white) !important;
    color:var(--main) !important;
    transition: var(--tran);
}

.btn:hover {
    background-color: var(--main) !important;
    color:var(--white) !important;
}

@media (max-width:768px) {
    .name_and_email_box{
        display: grid !important;
        justify-content: stretch !important;
    }
}